<!DOCTYPE html>
<html>
<head>
	<title>Registro</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"  href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"> 
    <link rel="stylesheet" type="text/css" href="../app/assets/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../app/assets/stylesheets/bootstrap-tags-input.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../app/assets/javascript/bootstrap-tags-input.js"></script>
    <script src="../app/assets/javascript/jquery-3.2.1.min.js"></script>
    <script src="../app/assets/javascript/register.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPkWmUcfyfhk6qY9AlRnxfutGMI_nYtRA&libraries=places"></script>
</head>


<body>
   
    
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">Global Project</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#">Descubre</a></li>
        </ul>
      </div>
    </nav>
    
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8" style="text-align: center">
            <h1>Registro</h1>
            

                  <div class="form-group">
                    <label for="exampleInputEmail1">Correo electrónico</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Escribir correo">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Nombre</label>
                    <input type="text" class="form-control" id="exampleInputEmail1"  placeholder="Escribir nombre">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Escribir contraseña">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Ciudad</label>
                    <input id="ciudadNombre" type="text" class="form-control" id="exampleInputEmail1"  placeholder="Seleccionar ciudad">
                  </div>
            
                  <div class="form-group">
                    <label for="exampleInputEmail1">Intereses</label>
                    <input id="intereses" type="text" class="form-control" data-role="tagsinput" placeholder="Agregar intereses">
                  </div>
            
                  <script>
                        
                      (function($) {
    $(function() {
        $(document).ready(function() {
            //init Tags Input
            $('#intereses').tagsinput({
                maxTags:1,
                typeahead: {
                    source: ['Buea', 'Douala', 'Kribi', 'Yaounde']
                }
            });
        });
    });
})(jQuery);
            
            
                  </script>
            
                  

                
                    
                
                  <button style="margin-bottom: 30px" type="submit" class="btn btn-success">Registrar</button>
                
                <p>¿Ya tienes cuenta? <a href="login.html">Inicia sesión</a></p>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
        
</body>
</html>


