<!DOCTYPE html>
<html>
<head>
	<title>Inscribir Proyecto</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../app/assets/images/appIcon.ico">

    <link rel="stylesheet" type="text/css"  href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"> 
    <link rel="stylesheet" type="text/css" href="../app/assets/stylesheets/bootstrap.min.css">
    
    <script src="../app/assets/javascript/jquery-3.2.1.min.js"></script>
    <script src="../app/assets/javascript/register.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPkWmUcfyfhk6qY9AlRnxfutGMI_nYtRA&libraries=places"></script>
</head>


<body>
   
    
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">Global Project</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#">Descubre</a></li>
          <li><a>Inscribe</a></li>
        </ul>
      </div>
    </nav>
    
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8" style="text-align: center">
            <h1>Registro de proyecto</h1>
            
                  <div class="form-group">
                    <label for="exampleInputEmail1">Nombre</label>
                    <input type="text" class="form-control" placeholder="Escribir nombre">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Ciudad</label>
                    <input id="ciudadNombre" type="text" class="form-control" id="exampleInputEmail1"  placeholder="Seleccionar ciudad">
                  </div>
                  <div class="form-group">
                    <label for="exampleTextarea">Descripción</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="exampleSelect1">Estatus</label>
                    <select class="form-control" id="exampleSelect1">
                      <option>Idea</option>
                      <option>Por iniciar</option>
                      <option>En proceso</option>
                    </select>
                  </div>
                  <button style="margin-bottom: 30px" class="btn btn-success">Registrar</button>
                
              
        </div>
        <div class="col-xs-2">
        </div>
    </div>
        
</body>
</html>